<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AntennaHost" value="127.0.0.1" />
    <add key="AntennaPort" value="100" />
    <add key="ServerPort" value="10001" />
    <add key="Interval" value="15" />
		<add key ="Host" value="192.168.1.201"/>
		<add key ="DataSource" value="."/>
		<add key ="InitCatalog" value="GasStation"/>
		<add key ="UserId" value="admin"/>
    <add key ="Pass" value="12345"/>
    <add key ="PowerRF" value="28"/>
    <add key ="IntervalRF" value="100000"/>	
    <add key="ConnectionString" value="Data Source=.; User Id=sa; Password=12345; Initial Catalog=GasStation" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>