<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="AntennaHost" value="192.168.1.200" />-->
    <!--<add key="AntennaPort" value="100" />-->
    <add key="AntennaName" value="CNG" />
    <add key="ServerPort" value="10001" />
    <add key="Interval" value="1" />
    <add key ="Host" value="192.168.1.201"/>
    <add key ="DataSource" value="192.168.1.201"/>
    <add key ="InitCatalog" value="PetrolStation"/>
    <add key ="UserId" value="admin"/>
    <add key ="Pass" value="*54321*"/>
    <add key ="PowerRF" value="28"/>
    <add key ="IntervalRF" value="100000"/>
    <!--<add key="ConnectionString" value="Data Source=192.168.1.201; User Id=admin; Password=*54321*; Initial Catalog=PetrolStation" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>